html,body{
    margin:0px;
    padding:0px;
    height: 100%;
    width: 100%;
}
.header{
    width: 100%;
    height: 511px;
    background-image: url("http://i1.piimg.com/567571/7fb6fb045793da9e.png");
    background-color: #7B79FF;
    background-repeat: repeat;
    margin: 0 auto;
    padding-top: 23px;
    font-size: 0;
}
.content{
    width: 1150px;
    height: 511px;
    margin: 0 auto;
    background-image: url("http://i1.piimg.com/567571/0686c21b9f8973e9.png");
    background-repeat: no-repeat;
}
.header .content-left{
    display: inline-block;
    width: 250px;
    height: 518px;
    margin-left: 200px;
    margin-right: 88px;
    margin-top: 80px;
    background-color: red;
}
.header .content-right{
    display: inline-block;
    width: 382px;
    height: 100%;
    vertical-align: top;
}
.top{
    width: 381px;
    height: 112px;
    margin-top: 132px;
}
.top_word{
    width: 100%;
    font-size: 36px;
    font-weight: bolder;
    font-family:  "Microsoft YaHei";
    color: white;
}
.middle{
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
    color: white;

}
.bottom{
    width: 250px;
    height: 122px;
    margin-top: 50px;
    margin-right: 532px;
    margin-left: -10px;
}
.bottom-left{
    width: 100px;
    height: 100%;
    background-image: url("http://i1.piimg.com/567571/b6ef1bc9bd26bff9.png");
    display: inline-block;
}
.bottom-right{
    margin-left: 30px;
    width: 100px;
    height: 100%;
    background-image: url("http://i1.piimg.com/567571/bff3032887525585.png");
    display: inline-block;
}
.interface{
    width: 1100px;
    height: 525px;
    margin: 0 auto;
    margin-top: 200px;
    display: inline-block;
  }
.advantage{
    width: 300px;
    height: 255px;
    margin-left:150px;
    display: inline-block;
    vertical-align: top;
    padding-top: 128px;
}
.new_advantage{
    font-size: 28px;
    font-family: "Microsoft YaHei";
    text-align: left;
    color: #333333;
    margin-bottom: 70px;
}
.more{
    font-size: 16px;
    font-family: "Microsoft YaHei";
    text-align: left;
    color: #333333;
    font-weight: lighter;
    margin-bottom: 25px;
}
.picture{
    width: 561px;
    height: 100%;
    margin-left: 57px;
    background-color: red;
    display: inline-block;
}



/*
.gif{
    position: absolute;
    width: 250px;
    height: 518px;
    background-color: black;
    margin-left: 360px;
    margin-top: 80px;
}
.include{
    margin-left: 698px;
    height: 534px;
}
.big{
    position: absolute;
    width: 381px;
    height: 112px;
    margin: 132px 361px 10px 88px;
    background-image: url("http://p1.bpimg.com/567571/01406e3aef71e73a.png");
    background-repeat: no-repeat;
}
.little{
    position: absolute;
    width: 382px;
    height: 48px;
    margin: 254px 360px 40px 88px;
    background-image: url("http://i1.piimg.com/567571/6e22ca29ec156f48.png");
    background-repeat: no-repeat;
}
.Android{
    position: absolute;
    width: 100px;
    height: 122px;
    margin: 342px 652px 70px 78px;
    background-image: url("http://i1.piimg.com/567571/b6ef1bc9bd26bff9.png");
    background-repeat: no-repeat;
    display: inline-block;
}
.iOS{
    position: absolute;
    width: 100px;
    height: 122px;
    margin: 342px 532px 70px 198px;
    background-image: url("http://i1.piimg.com/567571/bff3032887525585.png");
    background-repeat: no-repeat;
}
.interface{
    width: 1001px;
    height: 525px;
    margin: 120px 219px 100px 220px;
    background-color: blue;
}
.advantage{
    width: 440px;
    height: 525px;
    background-color: red;
}
.new_advantage{
    position: absolute;
    font-size: 28px;
    font-family: "Microsoft YaHei";
    margin-top: 90px;
    margin-bottom: 69px;
}
.quick{
    position: absolute;
    font-size: 16px;
    font-weight: lighter;
    font-family: "Microsoft YaHei";
}
