html,body{
    margin:0px;
    padding:0px;
    height: 100%;
    width: 100%;
}
.header{
    width: 100%;
    height: 511px;
    background-image: url("http://i1.piimg.com/567571/7fb6fb045793da9e.png");
    background-color: #7B79FF;
    background-repeat: repeat;
    margin: 0 auto;
    padding-top: 23px;
    font-size: 0;
}
.content{
    width: 1150px;
    height: 511px;
    margin: 0 auto;
    background-image: url("http://i1.piimg.com/567571/0686c21b9f8973e9.png");
    background-repeat: no-repeat;
}
.header .content-left{
    display: inline-block;
    width: 250px;
    height: 518px;
    margin-left: 200px;
    margin-right: 88px;
    margin-top: 80px;
}
.gif{
    width: 100%;
    height: 100%;
}
.header .content-right{
    display: inline-block;
    width: 382px;
    height: 100%;
    vertical-align: top;
}
.top{
    width: 381px;
    height: 112px;
    margin-top: 132px;
}
.top_word{
    width: 100%;
    font-size: 36px;
    font-weight: bolder;
    font-family:  "Microsoft YaHei";
    color: white;
}
.middle{
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
    color: white;

}
.bottom{
    width: 300px;
    height: 122px;
    margin-top: 50px;
    margin-right: 532px;
    margin-left: -10px;
}
.bottom-left{
    width: 120px;
    height: 200px;
    background-image: url("http://i1.piimg.com/567571/b6ef1bc9bd26bff9.png");
    background-repeat: no-repeat;
    display: inline-block;
}
.bottom-right{
    margin-left: 30px;
    width: 120px;
    height: 200px;
    background-image: url("http://i1.piimg.com/567571/bff3032887525585.png");
    background-repeat: no-repeat;
    display: inline-block;
}
.interface{
    width: 1100px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
  }
.advantage{
    width: 300px;
    /*height: 255px;*/
    margin-left:10%;
    display: inline-block;
    vertical-align: top;
    padding-top: 128px;
}
.new_advantage{
    font-size: 28px;
    font-family: "Microsoft YaHei";
    text-align: left;
    color: #333333;
    margin-bottom: 70px;
}
.more{
    font-size: 16px;
    font-family: "Microsoft YaHei";
    text-align: left;
    color: #333333;
    font-weight: lighter;
    margin-bottom: 25px;
}
.picture{
    width: 680px;
    height: 100%;
    background-image: url("http://i1.piimg.com/567571/44511892d2fab75e.png");
    display: inline-block;
}
.function{
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.function-top{
    width: 100%;
    font-size: 28px;
    font-family: "Microsoft YaHei";
    text-align: center;
    color: #333333;
}
.function-middle{
    width: 100%;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    font-family: "Microsoft YaHei";
    margin-top: 25px;
    color: #333333;
}
.function-bottom{
    width: 100%;
    height: 400px;
}
.function_bottom_left{
    width: 32%;
    height: 100%;
    display: inline-block;
}
.function_bottom_middle{
    width: 34%;
    height: 100%;
    display: inline-block;
}
.function_bottom_right{
    width: 32%;
    height: 100%;
    display: inline-block;
}
.bottom_picture_left{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 40px;
    width: 140px;
    height: 150px;
    background-image: url("http://p1.bqimg.com/567571/7b10ef9b606ac190.png");
    background-repeat: no-repeat;
}
.bottom_picture_middle{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 38px;
    width: 140px;
    height: 150px;
    background-image: url("http://p1.bqimg.com/567571/568b19721f44c644.png");
    background-repeat: no-repeat;
}
.bottom_picture_right{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 33px;
    width: 140px;
    height: 150px;
    background-image: url("http://i1.piimg.com/567571/67f4908751fb8e80.png");
    background-repeat: no-repeat;
}
.bottom_word{
    width: 128px;
    margin: 0 auto;
}
.bottom_word_left{
    display: inline-block;
    font-size: 20px;
    font-family:  "Microsoft YaHei";
    color: #333333;
}
.bottom_word_right{
    display: inline-block;
    border-radius: 5px;
    background-color: red;
    color: white;
    width: 30px;
    font-size: 12px;
    text-align: center;
}
.bottom_bottom{
    margin-top: 20px;
    font-size: 14px;
    font-family:  "Microsoft YaHei";
    color: #333333;
    text-align: center;
    font-weight: lighter;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}
.browse{
    width: 100%;
    height: 930px;
    background-color: #FCFCFD;
}
.browse-top{
    font-size: 28px;
    font-family:  "Microsoft YaHei";
    color: #333333;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}
.browse-middle{
    font-size: 16px;
    font-weight: lighter;
    font-family:  "Microsoft YaHei";
    color: #333333;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}
.browse-bottom{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-color: white;
    height: 690px;
}
.row{
    width: 100%;
    height: 172px;
}
.block{
    width: 32%;
    height: 100%;
    display: inline-block;
/*    display:inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;*/
}
.blockpicture{
    width: 160px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
}
.word{
    font-size: 20px;
    font-family:  "Microsoft YaHei";
    color: #666666;
    text-align: center;
    font-weight: lighter;
    margin-top: -20px;
}
.score{
    background-image: url("http://i1.piimg.com/567571/d1cfb50232b0909a.png");
}
.notice{
    background-image: url("http://p1.bpimg.com/567571/c0cb91ce775126ba.png");
}
.electrica{
    background-image: url("http://p1.bpimg.com/567571/adb9fa311a6499a6.png");
}
.card{
    background-image: url("http://p1.bpimg.com/567571/25b6906725a5fb89.png");
}
.computation{
    background-image: url("http://p1.bpimg.com/567571/ec747ef39ef2c880.png");
}
.classroom{
    background-image: url("http://p1.bpimg.com/567571/faa6da46cdc3065b.png");
}
.information{
    background-image: url("http://p1.bpimg.com/567571/6fe9bf675310cd49.png");
}
.calendar{
    background-image: url("http://p1.bpimg.com/567571/341c44b560ecd6b4.png");
}
.website{
    background-image: url("http://p1.bpimg.com/567571/e82d00c086319725.png");
}
.xueer{
    background-image: url("http://p1.bpimg.com/567571/f0fee7aafc731f51.png");
}
.library{
    background-image: url("http://p1.bpimg.com/567571/5bfcd767ed7ac18a.png");
    background-repeat: no-repeat;
}
.schedule{
    background-image: url("http://p1.bpimg.com/567571/e92d034c9d496c4a.png");
    background-repeat: no-repeat;
}
.footer-bottom{
    margin-top: 100px;
    position: absolute;
    width: 100%;
    background-image: url("http://i1.piimg.com/567571/7fb6fb045793da9e.png");
    background-color: #7B67FF;
    background-repeat: repeat;
    font-size: 0px;
    line-height: 90px;
}
.footer-container{
    height: 100%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.logopicture{
    width: 30px;
    height: 30px;
    background-image: url("http://p1.bpimg.com/567571/fbcebf8b41b398db.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
    position: relative;
    vertical-align: middle;
}
.logoword{
    width: auto;
    font-size: 20px;
    font-family:  "Microsoft YaHei";
    display: inline-block;
    color: white;
    font-weight: lighter;
    vertical-align: middle;
}
.joinlogo{
    width: 25px;
    height: 25px;
    display: inline-block;
    background-image: url("http://p1.bqimg.com/567571/edcb0143edd18daf.png");
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    margin-left: 300px;
}
.joinwho{
    display: inline-block;
    font-family:  "Microsoft YaHei";
    color: white;
    font-size: 14px;
    font-weight: lighter;
    vertical-align: middle;
}
.joinus{
    display: inline-block;
    font-family:  "Microsoft YaHei";
    color: white;
    font-size: 14px;
    margin-left: 50px;
    margin-right: 90px;
    text-decoration: none;
    vertical-align: middle;
}
a:hover{
  color: #FF9135;
}
