html,body{
    margin:0px;
    padding:0px;
    width: 100%;
    font-family: "Microsoft YaHei";
}
.color{
    color: #333333;
}
.auto{
    margin-left: auto;
    margin-right: auto;
}
.inline-block{
    display: inline-block;
}
.horizontal-center{
    display: inline-block;
    vertical-align: middle;
}
.font-size{
    font-size: 0;
}
.text-align{
    text-align: center;
}
.background-size{
    background-size: 100%;
}
.background-repeat{
    background-repeat: no-repeat;
}
.header{
    width: 100%;
    height: 224px;
    background-image: url("../images/header.png");
    background-color: #7B79FF;
    margin: 0 auto;
}
.content{
    width: 90%;
    height: 224px;
    margin: 0 auto;
    background-image: url("../images/content.png");
    background-position: bottom;
    font-size: 0px;
}
.content-top{
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
}
.logo{
    width: 60px;
    height: 15px;
    background-image: url("../images/logo.png");
    margin-left: 20px;
}
.content-middle{
   width: 100%;
   height: 163px;
}
.content-middle-left{
   width: 40%;
   height: 100%;
}
.logo-picture{
    width: 120px;
    height: 100%;
    background-image: url("../images/logo_picture.png");
    background-size: 80%;
    background-position: center;
}
.content-middle-right{
   width: 60%;
}
.top-word{
    color: white;
    font-size: 18px;
    font-weight: Negreta;
}
.top-word-bottom{
    margin-top: 5px;
}
.content-bottom-word{
    color: white;
    font-size: 7px;
    font-weight: lighter;
    margin-top: 5px;
}
.content-bottom{
    width: 100%;
    margin: 0 auto;
    font-size: 0;
    margin-top: -46px;
}
.box-android-ios{
    width: 50%;
    height: 100%;
    text-align: center;
}
.android-ios{
    width: 137px;
    height: 48px;
    vertical-align: top;
    margin-top: 24px;
    font-size: 16px;
    line-height: 48px;
    text-decoration: none;
    border-radius: 30px;
    color: white;
}
.android-download{
    background-color:#52b6ff;
}

.ios-download{
    background-color:#ff9135;
}
.function{
    width: 100%;
    height: 240px;
    margin-top: 64px;
}
.function-top{
    width: 100%;
    font-size: 12px;
}
.function-middle{
    width: 100%;
    font-size: 8px;
    font-weight: lighter;
    margin-top: 13px;
    margin-bottom: 20px;
}
.function-bottom{
    width: 100%;
    display: flex;
}
.function-bottom-img{
    flex:1;
    height: 100%;
}

.bottom-picture{
    width:70px;
    height: 74px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
}
.bottom-picture-left{
    background-image:url('../images/bottom_picture_left.png');
}
.bottom-picture-middle{
    background-image: url('../images/bottom_picture_middle.png');
}
.bottom-picture-right{
    background-image: url('../images/bottom_picture_right.png');
}
.bottom-word{
    text-align: center;
    width:100%;
}
.bottom-word-info{
    margin-left:20px;
    font-size: 14px;
    display: inline-block;
    margin-top: 4px;
}
.bottom-word-tag{
    font-size: 12px;
    line-height: 12px;
    vertical-align: top;
    display: inline-block;
    background-color: red;
    border-radius: 4px;
    color: white;
}
/* .bottom-word-right{
    border-radius: 5px;
    background-color: red;
    color: white;
    line-height: 10px;
    font-size: 5px;
    margin-left: 2px;
    vertical-align: top;
    width: 20px;
} */
.browse{
    width: 100%;
    height: 400px;
    background-color: #FCFCFD;
    padding-top: 30px;
}
.browse-top{
    font-size: 12px
}
.browse-middle{
    font-size: 8px;
    font-weight: lighter;
    padding-top: 13px;
}
.browse-bottom{
    width: 100%;
    height: 260px;
    margin-top: 20px;
    background-color: white;
    padding-top: 15px;
    background-image: url('../images/icons.png');
    background-size:100%;
    background-repeat: no-repeat;
}

.row{
    width: 100%;
}
.block{
    width: 33%;
    height: 100%;
}
.blockpicture{
    width: 60px;
    height: 30px;
    background-position: center;
    background-size: 100%;
}
.word{
    font-size: 8px;
    color: #666666;
    font-weight: lighter;
    margin-bottom: 15px;
}
.bad{
    background-position: center;
    width: 21px;
    height: 21px;
}
.footer{
    width: 100%;
    height: 40px;
}
.footer-background{
    background-image: url("../images/footer-background.png");
    width: 100%;
}
.footer-left{
    width: 75%;
    height: 100%;
}
.flower{
    width: 14px;
    height: 14px;
    background-image: url("../images/flower.png");
    margin-left: 20%;
}
.footer-join{
    font-size: 10px;
    color: white;
}
.footer-right{
    height: 100%;
}
.join{
    font-size: 10px;
    color: white;
    vertical-align: middle;
    text-decoration: none;
    line-height: 40px;
}
.join:hover{
   color: #FF9135;
}
